@import url('https://fonts.googleapis.com/css?family=Staatliches&subset=latin-ext');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
body {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}

canvas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
}

#game {
    border: 1px solid black;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

button {
	background-color: #68a2ff;
	border: 1px solid black;
	font-size: 16px;
	display: inline-block;
	padding: 20px 60px;
}